<div class="contenedor card">
  <div class="row justify-content-center align-items-center">
    <div class="col bg-primary contenedor-img">
      <img class="mx-auto d-block py-4" src="../../../assets/img/logo.png" alt="">
      <img class="img-fluid pb-3 registro-img" src="../../../assets/img/registro.png" alt="">
    </div>
    <div class="col-8 p-4">
      <form action="">
        <legend>
          Registrar sus Datos
        </legend>

        <mat-form-field class="w-100">
          <mat-label>Nombre:</mat-label>
          <input matInput type="text" placeholder="Ejm. Miguel">
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Apellido:</mat-label>
          <input matInput type="text" placeholder="Ejm. Castillo">
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Email:</mat-label>
          <input matInput type="email" placeholder="Ejm. pat@example.com">
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Núm de Documento:</mat-label>
          <input matInput type="number" min="1" placeholder="Ejm. 987456321452">
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Núm Télefono:</mat-label>
          <input matInput type="tel" placeholder="Ejm. 987456312">
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Contraseña:</mat-label>
          <input matInput type="text" placeholder="*********">
        </mat-form-field>

        <button mat-raised-button color="primary" class="mt-3">
          <span class="btn-text">Accent</span>
        </button>
      </form>
    </div>
  </div>
</div>
