<div class="habitacion-screen">
  <div class="habitaciones-titulo">
    <h1>Habitaciones</h1>
  </div>
  <hr>

  <div class="habitaciones">
    <div *ngFor="let item of habitaciones | paginate: { itemsPerPage: 8, currentPage: page}" class="card-habitaciones">
      <mat-card class="habitacion">
        <mat-card-header>
          <mat-card-title>{{item.numero}}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="habitacion-texto">
          <p>{{item.descripcion}}</p>

          <div class="habitacion-datos">
            <p>{{item.numCamas}} <mat-icon matSuffix>bed</mat-icon></p>
            <p>{{item.precio}} <mat-icon matSuffix>paid</mat-icon></p>
          </div>
        </mat-card-content>
        <div class="btn-habitacion">
          <button mat-stroked-button color="primary">Registrar Reserva</button>
        </div>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="page = $event" [maxSize]=4 previousLabel="Anterior"
  nextLabel="Siguiente"></pagination-controls>
