<div>
  <h1>Habitaciones</h1>
  <hr>

  <div class="habitaciones">
    <div *ngFor="let item of habitaciones">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{item.numero}}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>{{item.descripcion}}</p>

          <div>
            <p>{{item.numCamas}}</p>
            <p>{{item.precio}}</p>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary">Registrar Reserva</button>
        </mat-card-actions>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
