<div class="espaciado login">
  <div class="card">
    <div class="form">
      <div class="bg-img contenedor-img login-img">
        <img class="img-fluid-login registro-img" src="../../../assets/img/login.png" alt="Login">
      </div>

      <div class="contenedor-login">
        <form (ngSubmit)="loginSubmit()" class="formulario-login">

          <div class="bg-mobile-img bg-img-login">
            <img class="img-logo-login block-centrado" src="../../../assets/img/logo.png" alt="Logo">
          </div>

          <div class="form-inputs">
            <legend class="formulario-legend">
              Iniciar Sesión
            </legend>

            <div class="formulario-inputs">
              <mat-form-field class="input">
                <mat-label>Email:</mat-label>
                <input required matInput name="username" [(ngModel)]="usuario.username" type="email"
                  placeholder="Ejm. pat@example.com">
                <mat-icon matSuffix>mail</mat-icon>
              </mat-form-field>

              <mat-form-field class="input">
                <mat-label>Contraseña:</mat-label>
                <input required matInput type="password" name="password" [(ngModel)]="usuario.password"
                  placeholder="*********">
                <mat-icon matSuffix>password</mat-icon>
              </mat-form-field>
            </div>

            <div class="btn-form">
              <button mat-raised-button color="primary">
                <mat-icon>person_add</mat-icon>
                <span class="btn-text">Ingresar</span>
              </button>

              <span>¿No estas registrado? <a [routerLink]="['/register']">Crea una cuenta</a></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
