/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.contenedor {
  width: min(90%, 1200px);
  margin: 0 auto;
}

.contenedor-img {
  margin: 0 .7rem;
  border-radius: .4rem .4rem 0 0;
}

/*Registrar*/

@media (min-width: 992px) {
  .contenedor-img {
    border-radius: .4rem 0 0 .4rem;
  }
}

.registro-img {
  display: none;
}

@media (min-width: 768px) {
  .registro-img {
    margin: 0 auto;
    display: block;
  }
}

.btn-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .btn-form {
    flex-direction: row;
    justify-content: start;
    gap: 2rem;
  }
}

.btn-text {
  padding: 0 3.5rem;
}
